SpringBoot/SATC_Server/donneeInterneSalto.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">

		<complexType name="DonneeInterneSalto" abstract="true">
			<attribute name="VersionApplication" type="string" use="optional" />
			<attribute name="NomClient" type="string" use="optional" />
		</complexType>


</schema>
	